.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.cart-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

form { 
 
  background: #1f3b4d; 
 
  padding: 1.5em; 
 
  border-radius: 2em; width: 50%; 
  
  color: white;
  margin:auto
 
 }

 .container {
<<<<<<< HEAD

  display: flex;
  flex-wrap: wrap; /* This ensures that cards wrap to the next row when necessary */

=======
  display: flex;
  flex-wrap: wrap; /* This ensures that cards wrap to the next row when necessary */
>>>>>>> aae11093153823602ab6035e434bf1641e2e0deb
}

.navbar-inner {
  background-color:transparent;
}
.item-images {
  width: 100%; 
  height: 100%; 
  object-fit: fill;

}
.card {


  border-radius: px;

  padding: 10px 20px 30px;

  margin-top: 50px;

  display: flex;

}